/* Global Styles */
* {
  box-sizing: border-box;
}

/* Header Styles */
header {
  background: linear-gradient(to right, rgb(80, 143, 168), #160f3b);
  display: flex;
  justify-content: center;
  color: white;
  border-bottom: 4px solid #160f3b;
}

/* Body Styles */
body {
  height: 100vh;
  background-color: rgb(187, 185, 181);
}

/* Form Styles */
form {
  display: flex;
  justify-content: center;
}

/* Container Styles */
div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Button Styles */
button {
  background: linear-gradient(to right, rgb(80, 143, 168), #160f3b);
}

/* Search Area Styles */
#searchArea {
  border-right: #160f3b 4px solid;
  border-bottom: #160f3b 4px solid;
}

/* Heading Styles */
h4 {
  align-self: center;
}

/* Weather Display Styles */
#todayWeather {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

#forecastWeather {
  display: flex;
  flex-direction: row;
}

/* Weather Card Styles */
.weather-card {
  border: #160f3b 4px solid;
  margin: 5px;
  border-radius: 20px;
  background-color: rgb(80, 143, 168);
  color: white;
  padding: 4px;
  width: 100%;
}

.first-card {
  width: 100%;
}

/* City Button Styles */
.city-button {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  color: white;
  margin: 10px;
}

/* Search History Styles */
#searchHistory {
  display: flex;
  flex-direction: column;
  align-items: center;
}
